{% extends 'base.html' %}

{% block content %}

{% load static %}

<script src="https://unpkg.com/feather-icons"></script>

<div class="container">
  <form action="" method="post">
  <div class="input-group mt-4 mb-3 w-50">
 
      {% csrf_token %}
    <input
      type="search"
      name="cari"
      class="form-control"
      placeholder="Cari: Analisa Big Data"
      aria-label="Search"
      aria-describedby="search-addon"
    />
  </form>

    <!-- <span class="input-group-text" id="search-addon">
      <i data-feather="search"></i>
    </span>  -->
  </div>
  <!-- kalo gabisa hapus aja search nya -->
  <!-- <div class="input-group mt-4 mb-3 w-50">
    <input
      type="search"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <span class="input-group-text" id="search-addon">
      <i data-feather="search"></i>
    </span>
  </div> -->
  <!-- sampai sini -->
  <div>
    <a href="/tambah-matakuliah" class="text-decoration-none"
      ><button
        type="button"
        class="btn btn-primary btn-sm mb-3"
        style="font-style: italic"
      >
        <i data-feather="plus" class="icon-tambah me-1" style="height: 20"></i>
        Add Matakuliah
      </button>
    </a>
  </div>
  {% for message in messages %} {% if message %}
  <div class="alert alert-success">{{ message }}</div>
  {% endif %} {% endfor %}
  <table class="table table-bordered table-striped custom-table">
    <!-- field -->
    <thead>
      <tr>
        <th>Kode Matakuliah</th>
        <th>Matakuliah</th>
        <th>SKS</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for matakuliah in matkul %}
      <tr>
        <td>{{matakuliah.kodematkul}}</td>
        <td>{{matakuliah.matkul}}</td>
        <td>{{matakuliah.sks}}</td>
        <td>
            <a
              href="{% url 'ubah_matakuliah' matakuliah.id %}"
              class="text-decoration-none">
              <button type="button" class="btn btn-primary btn-sm me-3" value="{{matakuliah.kodematkul}}">
                Update
              </button></a>
              <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#hapus-{{ matakuliah.id }}">
              delete
            </button>
          </div>
        </td>
        <div class="modal" id="hapus-{{ matakuliah.id }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title">
                  <h3>delete</h3>
                </div>
              </div>
              <div class="modal-body">
                Apakah anda yakin akan menghapus data matakuliah<strong> {{ matakuliah.matkul }} </strong>
                dengan Kode Matakuliah <strong>{{ matakuliah.kodematkul }}</strong>?
              </div>
              <div class="modal-footer">
                <a href="{% url 'hapus_matakuliah' matakuliah.id %}" class="btn btn-danger">Hapus</a>
                <button class="btn btn-dark" data-dismiss="modal">Back</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="container mt-5 mb-5">
    <div class="pagination mt-5">
      <span class="step-links">
        {% if matkul.has_previous %}

        <a href="?page=1" style="color: #fff; text-decoration: none;">
          <button type="button" class="btn btn-info">
          &laquo; first</button>
        </a>
        
          <a style=" text-decoration: none; color: #fff;" href="?page={{ matkul.previous_page_number }}">
            <button type="button" class="btn btn-primary">previous</button>
          </a>
      
        {% endif %}

        {% if matkul.has_next %}
        
          <a href="?page={{ matkul.next_page_number }}" style="color: #fff; text-decoration: none;">
            <button type="button" class="btn btn-primary">Next</button>
          </a>

        <a href="?page={{ matkul.paginator.num_pages }}" style="color: #fff; text-decoration: none; ">
          <button type="button" class="btn btn-info">
            Last &raquo;
          </button>
        </a>
     
        {% endif %}
      </span>
    </div>
    <div class="mt-3">
      <span class="current">
        Page {{ matkul.number }} of {{ matkul.paginator.num_pages }}.
      </span>
    </div>
  </div>
  {% endblock %}