{% extends 'base.html' %}

{% block content %}


<div class="container">  
    <div class="row justify-content-center mt-5">
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="card-body shadow">
            <div class="mb-3" style="font-weight: bold;">Ubah: <span style="color: cadetblue;">{{ matakuliah.matkul }}</span></div>
            {% for message in messages %}
            {% if message %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
              {% if pesan %}
              <div class="alert alert-success">{{pesan}}</div>
              {% endif %}
              <form action="{% url 'ubah_matakuliah' matakuliah.id %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p }}
            
                <button class="btn btn-primary">Simpan</button>
                <a href="/matakuliah" class="btn btn-danger">Kembali</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}